flows 5.json
[{"id":"6f51a051.dff01","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"646928c3.4df428","type":"http in","z":"6f51a051.dff01","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":210,"y":200,"wires":[["a7914459.5eb798"]]},{"id":"1544dfea.b2349","type":"rpi-gpio in","z":"6f51a051.dff01","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":220,"y":280,"wires":[["787b51e7.21977"]]},{"id":"787b51e7.21977","type":"function","z":"6f51a051.dff01","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["75698ef4.d17d5"]]},{"id":"a7914459.5eb798","type":"function","z":"6f51a051.dff01","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["75698ef4.d17d5","75fd0c5f.bb5b44"]]},{"id":"75698ef4.d17d5","type":"debug","z":"6f51a051.dff01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":260,"wires":[]},{"id":"75fd0c5f.bb5b44","type":"http response","z":"6f51a051.dff01","name":"","statusCode":"","headers":{},"x":680,"y":180,"wires":[]}]