flows6.json
[{"id":"6e95a7aa.ec3b18","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c7c550cf.68662","type":"http in","z":"6e95a7aa.ec3b18","name":"SETGPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["caee0d93.bf92e","f77f3869.750f08"]]},{"id":"caee0d93.bf92e","type":"function","z":"6e95a7aa.ec3b18","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["2467e3f4.21deec"]]},{"id":"2467e3f4.21deec","type":"rpi-gpio out","z":"6e95a7aa.ec3b18","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":1000,"y":340,"wires":[]},{"id":"f77f3869.750f08","type":"function","z":"6e95a7aa.ec3b18","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["4c3820f5.f2df8","d5343fea.70a7e"]]},{"id":"4c3820f5.f2df8","type":"http response","z":"6e95a7aa.ec3b18","name":"","statusCode":"","headers":{},"x":620,"y":280,"wires":[]},{"id":"d5343fea.70a7e","type":"debug","z":"6e95a7aa.ec3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":380,"wires":[]},{"id":"f4b75d38.5fe99","type":"http in","z":"6e95a7aa.ec3b18","name":"CLEARGPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["c6fa91e8.d8a12","27bc56f5.97117a"]]},{"id":"c6fa91e8.d8a12","type":"function","z":"6e95a7aa.ec3b18","name":"CLEAR to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["2467e3f4.21deec"]]},{"id":"27bc56f5.97117a","type":"function","z":"6e95a7aa.ec3b18","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["4c3820f5.f2df8","d5343fea.70a7e"]]}]